* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'open sans', sans-serif;
  font-size: 12px;
}

h1 {
  font-family: 'krona one', sans-serif;
  font-size: 2em;
  color: #CD6509;
}

h2 {
  font-size: 1em;
}

a {
  font: inherit;
  color: inherit;
}

a:hover {
  color: #CD6509;
}

body {
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

.recordPanel {
  margin: 10px 0;
}

.btn {
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.orange {
  text-shadow: 0 -1px 0 #CD6509;
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
  background-color: #FF983C;
  color: #CD6509;
}

.green {
  text-shadow: 0 -1px 0 #096d14;
  background-color: rgb(15, 145, 30);
  box-shadow: 0px 5px 0px 0px #096d14;
}

.green:hover {
  background-color: #26af36;
  color: #096d14;
}

canvas {
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}